lab/XML Schema definition.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="level_1" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="level_2" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="href" use="optional"/>
                                            <xs:attribute type="xs:string" name="title" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="href" use="optional"/>
                        <xs:attribute type="xs:string" name="title" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>